import React from 'react';

import "./{{pascalCase name}}.scss";

const {{pascalCase name}} = props => {
  return (
    <div className="{{lowerCase name}}">
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};